.box-a {
  position: relative;
  z-index: 1;
  opacity: 0.99;
}

.child-a {
  position: relative;
  z-index: 9999;
}

.box-b {
  position: relative;
  z-index: 2;
}

.child-b {
  position: relative;
  z-index: 1;
}
